/*Mis estilos*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    min-height: 100vh;
    text-align: center;
}

header a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Rock Salt', cursive;
    position: fixed;
    top: 30px;
    left: 30px;
    font-weight: 100;
    font-size: 20px;
}

nav {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1;
}

nav a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 0 10px 0 0;
}